# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.swp
*.swo
*~

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle
android/app/build/
android/build/
android/local.properties

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Testing
coverage/

# Hive local data
*.hive
*.lock
!app/pubspec.lock

# OS
.DS_Store
Thumbs.db

# Environment
.env
outputs/
.env.*

# Test artifacts
test/**/test_hive*/
